<div class="profile-page">

  @if (loading()) {

    <div class="state-banner">
      {{ 'farmer.profile.loading' | translate }}
    </div>

  }


  @if (error()) {

    <div class="state-banner error">
      {{ error() | translate }}
    </div>

  }



  @if (profile(); as farmer) {


    <!-- Page Header -->

    <div class="profile-header">

      <div class="header-info">

        <h1>
          {{ 'farmer.profile.title' | translate }}
        </h1>


        <h3>
          {{ farmer.firstName }}
          {{ farmer.lastName }}
        </h3>


        <p>
          {{ farmer.farmName }}
        </p>


      </div>



      <button
        class="edit-btn"
        type="button"
        (click)="onEditProfile()">

        {{ 'farmer.profile.editButton' | translate }}

      </button>


    </div>





    <!-- Personal Information -->

    <section class="profile-card">


      <h2>
        {{ 'farmer.profile.personalInfo' | translate }}
      </h2>



      <div class="info-grid">


        <div class="info-box">

          <label>
            {{ 'farmer.profile.fields.firstName' | translate }}
          </label>

          <p>
            {{ farmer.firstName }}
          </p>

        </div>



        <div class="info-box">

          <label>
            {{ 'farmer.profile.fields.lastName' | translate }}
          </label>

          <p>
            {{ farmer.lastName }}
          </p>

        </div>



        <div class="info-box">

          <label>
            {{ 'farmer.profile.fields.email' | translate }}
          </label>

          <p>
            {{ farmer.email }}
          </p>

        </div>



        <div class="info-box">

          <label>
            {{ 'farmer.profile.fields.phone' | translate }}
          </label>

          <p>
            {{ farmer.phone }}
          </p>

        </div>


      </div>


    </section>







    <!-- Farm Details -->


    <section class="profile-card">


      <h2>
        {{ 'farmer.profile.farmDetails' | translate }}
      </h2>



      <div class="info-grid">


        <div class="info-box">

          <label>
            {{ 'farmer.profile.fields.farmName' | translate }}
          </label>

          <p>
            {{ farmer.farmName }}
          </p>

        </div>




        <div class="info-box">

          <label>
            {{ 'farmer.profile.fields.region' | translate }}
          </label>

          <p>
            {{ farmer.region }}
          </p>

        </div>




        <div class="info-box">

          <label>
            {{ 'farmer.profile.fields.farmSize' | translate }}
          </label>

          <p>
            {{ farmer.farmSizeAcres }}
            {{ 'farmer.profile.fields.acresUnit' | translate }}
          </p>

        </div>




        <div class="info-box">

          <label>
            {{ 'farmer.profile.fields.cropTypes' | translate }}
          </label>

          <p>
            {{ farmer.cropTypes }}
          </p>

        </div>


      </div>


    </section>







    <!-- Geographical Location -->


    <section class="profile-card">


      <h2>
        {{ 'farmer.profile.location' | translate }}
      </h2>



      <div
        class="map-container"
        #mapContainer>
      </div>




      @if(clickedCoordinates(); as coords){

        <p class="coordinates">

          {{ 'farmer.profile.fields.coordinates' | translate }}
          :
          {{ coords.lat }},
          {{ coords.lng }}

        </p>

      }



    </section>


  }


</div>