<div class="profile-page">


  @if (loading()) {

    <div class="state-banner">

      {{ 'farmer.profile.loading' | translate }}

    </div>

  }



  @if (error()) {

    <div class="state-banner error">

      {{ error() | translate }}

    </div>

  }



  @if (successMessage()) {

    <div class="state-banner success">

      {{ successMessage() | translate }}

    </div>

  }






  @if (profile(); as farmer) {


    <!-- ================= HEADER ================= -->


    <div class="profile-header">


      <div class="header-info">


        <h1>

          {{ 'farmer.profile.title' | translate }}

        </h1>



        <h3>

          {{ farmer.firstName }}

          {{ farmer.lastName }}

        </h3>



        <p>

          {{ farmer.farmName }}

        </p>


      </div>






      @if(!editMode()){


        <button

          class="edit-btn"

          type="button"

          (click)="startEdit()">


          {{ 'farmer.profile.editButton' | translate }}


        </button>


      }







      @if(editMode()){


        <div class="edit-actions">


          <button

            class="save-btn"

            type="button"

            [disabled]="saving() || hasValidationErrors()"

            (click)="saveProfile()">



            @if(saving()){

              {{ 'farmer.profile.saving' | translate }}

            }

            @else{

              {{ 'farmer.profile.saveButton' | translate }}

            }



          </button>






          <button

            class="cancel-btn"

            type="button"

            (click)="cancelEdit()">



            {{ 'farmer.profile.cancelButton' | translate }}



          </button>



        </div>


      }



    </div>









    <!-- ================= PERSONAL INFORMATION ================= -->


    <section class="profile-card">


      <h2>

        {{ 'farmer.profile.personalInfo' | translate }}

      </h2>





      <div class="info-grid">






        <!-- FIRST NAME -->


        <div class="info-box">


          <label>

            {{ 'farmer.profile.fields.firstName' | translate }}

          </label>





          @if(editMode()){


            <input

              type="text"

              [class.invalid]="validationErrors().firstName"

              [value]="editedProfile()?.firstName"

              (input)="updateField(

                'firstName',

                $any($event.target).value

              )">


            


            @if(validationErrors().firstName){

              <small class="validation-error">

                {{ validationErrors().firstName | translate }}

              </small>

            }



          }

          @else{


            <p>

              {{ farmer.firstName }}

            </p>


          }



        </div>









        <!-- LAST NAME -->


        <div class="info-box">


          <label>

            {{ 'farmer.profile.fields.lastName' | translate }}

          </label>





          @if(editMode()){


            <input

              type="text"

              [class.invalid]="validationErrors().lastName"

              [value]="editedProfile()?.lastName"

              (input)="updateField(

                'lastName',

                $any($event.target).value

              )">



            @if(validationErrors().lastName){

              <small class="validation-error">

                {{ validationErrors().lastName | translate }}

              </small>

            }


          }

          @else{


            <p>

              {{ farmer.lastName }}

            </p>


          }



        </div>








        <!-- EMAIL READ ONLY -->


        <div class="info-box">


          <label>

            {{ 'farmer.profile.fields.email' | translate }}

          </label>


          <p>

            {{ farmer.email }}

          </p>


        </div>









        <!-- PHONE -->


        <div class="info-box">


          <label>

            {{ 'farmer.profile.fields.phone' | translate }}

          </label>





          @if(editMode()){


            <input

              type="text"

              [class.invalid]="validationErrors().phone"

              [value]="editedProfile()?.phone"

              (input)="updateField(

                'phone',

                $any($event.target).value

              )">


            @if(validationErrors().phone){

              <small class="validation-error">

                {{ validationErrors().phone | translate }}

              </small>

            }



          }

          @else{


            <p>

              {{ farmer.phone }}

            </p>


          }



        </div>




      </div>


    </section>
    





    <!-- ================= FARM DETAILS ================= -->


    <section class="profile-card">


      <h2>

        {{ 'farmer.profile.farmDetails' | translate }}

      </h2>





      <div class="info-grid">






        <!-- FARM NAME -->


        <div class="info-box">


          <label>

            {{ 'farmer.profile.fields.farmName' | translate }}

          </label>





          @if(editMode()){



            <input

              type="text"

              [class.invalid]="validationErrors().farmName"

              [value]="editedProfile()?.farmName"

              (input)="updateField(

                'farmName',

                $any($event.target).value

              )">





            @if(validationErrors().farmName){


              <small class="validation-error">

                {{ validationErrors().farmName | translate }}

              </small>


            }



          }

          @else{


            <p>

              {{ farmer.farmName }}

            </p>


          }



        </div>









        <!-- REGION -->


        <div class="info-box">


          <label>

            {{ 'farmer.profile.fields.region' | translate }}

          </label>





          @if(editMode()){



            <input

              type="text"

              [class.invalid]="validationErrors().region"

              [value]="editedProfile()?.region"

              (input)="updateField(

                'region',

                $any($event.target).value

              )">





            @if(validationErrors().region){


              <small class="validation-error">

                {{ validationErrors().region | translate }}

              </small>


            }



          }

          @else{


            <p>

              {{ farmer.region }}

            </p>


          }



        </div>









        <!-- FARM SIZE -->


        <div class="info-box">


          <label>

            {{ 'farmer.profile.fields.farmSize' | translate }}

          </label>





          @if(editMode()){



            <input

              type="number"

              min="1"

              [class.invalid]="validationErrors().farmSizeAcres"

              [value]="editedProfile()?.farmSizeAcres"

              (input)="updateField(

                'farmSizeAcres',

                $any($event.target).value

              )">





            @if(validationErrors().farmSizeAcres){


              <small class="validation-error">

                {{ validationErrors().farmSizeAcres | translate }}

              </small>


            }



          }

          @else{


            <p>


              {{ farmer.farmSizeAcres }}


              {{ 'farmer.profile.fields.acresUnit' | translate }}



            </p>


          }



        </div>









        <!-- CROP TYPES -->


        <div class="info-box">


          <label>

            {{ 'farmer.profile.fields.cropTypes' | translate }}

          </label>





          @if(editMode()){



            <input

              type="text"

              [class.invalid]="validationErrors().cropTypes"

              [value]="editedProfile()?.cropTypes"

              (input)="updateField(

                'cropTypes',

                $any($event.target).value

              )">





            @if(validationErrors().cropTypes){


              <small class="validation-error">

                {{ validationErrors().cropTypes | translate }}

              </small>


            }



          }

          @else{


            <p>

              {{ farmer.cropTypes }}

            </p>


          }



        </div>






      </div>


    </section>









    <!-- ================= LOCATION ================= -->


    <section class="profile-card">


      <h2>

        {{ 'farmer.profile.location' | translate }}

      </h2>





      @if(editMode()){


        <p class="map-help">


          {{ 'farmer.profile.mapInstruction' | translate }}



        </p>


      }







      <div

        class="map-container"

        #mapContainer>


      </div>






      @if(clickedCoordinates(); as coords){


        <p class="coordinates">


          {{ 'farmer.profile.fields.coordinates' | translate }}

          :


          {{ coords.lat }},


          {{ coords.lng }}



        </p>


      }






      @if(validationErrors().location){


        <small class="validation-error">


          {{ validationErrors().location | translate }}


        </small>


      }






    </section>






  }



</div>